<div class="main-container full-height-container">

  <div class="container cards-container ">

    <!-- FORM -->
    <div class="form-container">
      <div class="search-form">
        <%= form_tag wigs_path, class: "search-input", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a wig"
          %>
          <%= submit_tag "Search", class: "btn btn-primary btn-search" %>
        <% end %>
      </div>
    </div>

    <div class="cards-group row" >


      <% @wigs.each do |wig| %>
        <div class="card card-size <%= card_shadow %>">

          <% if wig.photo.attached? %>
            <%= cl_image_tag wig.photo.key, height: 300, width: 300, crop: :fill, class: "card-img-top card-img-size", cloud_name: "det3cfeuo" %>
          <% else %>
            <img class="card-img-top card-img-size" src="<%= image_url %>" alt="Card image cap" style="object-fit: cover">
          <% end %>


          <div class="card-body">
            <h5 class="card-title"><%= wig.name %></h5>
            <%= link_to  ">", wig_path(wig) %>
          </div>
        </div>


      <% end %>
    </div>
  </div>
</div>
<div style="height: 50px">
</div>

